@model RookieDatabase.ViewModels.RookieViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <h2>CHOOSE A POSITION</h2>

    @foreach (var rookie in Model.Positions)
    {
        <a class="btn btn-primary" role="button" asp-action="Position"
           asp-route-position="@rookie">@rookie</a>
    }

    <div>
        <a asp-action="AddPlayer">Add a Rookie</a>
    </div>
</div>