@model RookieDatabase.ViewModels.RookieViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>ROOKIE DATABASE</h1>

@foreach (var rookie in Model.Positions)
{
    <a asp-action="Position"
       asp-route-position="@rookie">@rookie</a>
}

<div>
    <a asp-action="AddPlayer">Add a Rookie</a>
</div>