@model RookieDatabase.ViewModels.RookieViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>ROOKIE DATABASE</h1>
<div>
        <a asp-action="QB">QB</a>
        <a asp-action="HB">HB</a>
        <a asp-action="FB">FB</a>
        <a asp-action="WR">WR</a>
        <a asp-action="TE">TE</a>
        <a asp-action="OL">OL</a>
        <a asp-action="DE">DE</a>
        <a asp-action="DT">DT</a>
        <a asp-action="LB">LB</a>
        <a asp-action="CB">CB</a>
        <a asp-action="FS">FS</a>
        <a asp-action="SS">SS</a>
</div>
<div>
    <a asp-action="AddPlayer">Add a Rookie</a>
</div>
